
.our-team{
    text-align: center;
    transition: all 0.5s ease 0s;
    height: 525px;
}
.our-team:hover{
    box-shadow: 0 15px 10px -10px white, 0 1px 4px white, 0 0 10px white inset;
}
.our-team .pic{
    overflow: hidden;
    position: relative;
}
.our-team .pic:before,
.our-team .pic:after{
    content: "";
    width: 200%;
    height: 80%;
    background: white;
    opacity: 0.6;
    position: absolute;
    top: -100%;
    left: -4%;
    transform: rotate(45deg);
    transition: all 0.5s ease 0s;
}
.our-team .pic:after{
    background: #00B0FF;
    opacity: 0.6;
    top: auto;
    left: auto;
    bottom: -100%;
    right: -4%;
}
.our-team:hover .pic:before{ top: 0; }
.our-team:hover .pic:after{ bottom: 0; }
.our-team .pic img{
    height: auto;
}
.our-team .social{
    width: 100%;
    padding: 0;
    margin: 0;
    list-style: none;
    position: absolute;
    bottom: 45%;
    left: 0;
    opacity: 0;
    z-index: 2;
    transition: all 0.5s ease 0.3s;
}
.our-team:hover .social{ opacity: 1; }
.our-team .social li{ display: inline-block; }
.our-team .social li a{
    display: block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    font-size: 20px;
    color: white;
    margin-right: 10px;
    position: relative;
    transition: all 0.3s ease 0s;
    text-decoration:none; 
}
.our-team .social li a:after{
    content: "";
    width: 100%;
    height: 100%;
    background: black;
    border-radius: 0 20px 20px 20px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all 0.3s ease 0s;
}

.our-team .social li a:hover:after{ transform: rotate(180deg); }
.our-team .team-content{ padding: 20px; }
.our-team .title{
    font-size: 22px;
    font-weight: 700;
    letter-spacing: 2px;
    color: #00B0FF;
    text-transform: uppercase;
    margin-bottom: 7px;
}
.our-team .post{
    display: block;
    font-size: 22px;
    font-weight: 600;
    color: white;
    text-transform: capitalize;
}
.name{
    border-radius: 50%;
    height: 348px !important;
}

@media screen and (max-width:1000px) {
    .pic img{
        height: 208px !important;
    }
    
        .name {
            border-radius: 80% !important;
           

    }
}
@media screen and (max-width: 700px){
    img{
        height: 380px !important;
    }
}

@media screen and (max-width: 600px){
     .pic img{
        height: 330px !important;
    }
    .log{
        margin-top:2rem;
    }
.name{
    border-radius: 60% !important;
    height: 310px !important;
}
    
}
@media screen and (max-width: 1024px){
    .our-team{ 
        margin-bottom: 30px; 
        height: 580px;}
        .pic img{
            
    margin-left: 0rem;

        }
        .name {
            border-radius: 70% !important;
            height: 298px !important;
        }
}
@media screen and (max-width: 1324px){
    .our-team{ 
        margin-bottom: 30px; 
        height: 580px;}
        
        .name {
            border-radius: 100% !important;
        }
}
.log{
    display: inline;
    margin-top:3rem;
    margin-left: -1rem;
}
