/*Start global*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size:10px;
    font-family:"Roboto",sans-serif;
    color: blueviolet;
}
body{
    width:100%;
    height: 100%;
    background-size: cover;

}

/*End global*/

/*Start header*/
header{
    width: 100%;
    margin-bottom: 2rem;
}
.Myhead .img{
    position: absolute;   
}
.top-nav{
    width: 100%;
    height: 100vh;
    position: absolute;
    top: -100vh;
    z-index: 50;
    background-color:black;
    border-bottom-right-radius: 100%;
    border-bottom-left-radius: 100%;
    transition: all 650ms cubic-bezier(1,0,0,1);

}
.nav-list{
    list-style: none;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
li{
    margin:0 1rem;
}
.nav-link{
    font-family:sans-serif;
    font-size: 3.2rem;
    padding: 1rem;
}
.nav-link:hover,
.nav-link:focus{
background: linear-gradient(to top,#00B0FF,#00B0FF);
-webkit-background-clip:text;
background-clip:text;
-webkit-text-fill-color: transparent;
}
.top-nav.open{
top:0;
border-radius: initial;
}
.menu-toggler{
    position: absolute;
    top:5rem;
    right:5rem;
    width:5rem;
    height: 4rem;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    z-index: 1500;
    transition: transform 650ms ease-out;
   
    
}
.menu-toggler.open{
    transform: rotate(-45deg);
}
 .bar
{
    background: linear-gradient(white,#00B0FF);
    width: 100%;
    height: 2px;
    border-radius: .8rem;
}
.bar.half{
    width:50%;
}
 .bar-start{
    transform-origin: right;
    transition: transform 650ms cubic-bezier(0.54,-0.81,0.57,0.57);
}
.open.bar-start{
    transform: rotate(-450deg) transitionX(.8rem);
}
.bar .end{
    align-self:flex-end;
    transform-origin: left;
    transition: transform 650ms cubic-bezier(0.54,-0.81,0.57,0.57);
}
.open  .bar .end{
    transform: rotate(-450deg) transitionX(-.8rem);
}
/*End header*/

/*Start media queries*/
@media screen and (max-width:1024px){
    .nav-list{
        flex-direction:column;
    }
    li{
        margin:2rem 0;
    }
    .nav-link{
        font-size:4rem;
    }
    .about-details .nav-list{
        flex-direction: initial;
    }
    header{
        width: 100%;
    }
}
@media screen and (max-width:768px){
    .nav-list{
        flex-direction:column;
    }
    li{
        margin:1rem 0;
    }
    .nav-link{
        font-size:3rem;
    }
    .about-details .nav-list{
        flex-direction: initial;
    }
    header{
        width: 100%;
    }
}
@media screen and (max-width:600px){
    .menu-toggler{
        top:2rem;
        right:2rem;
    }
    li{
        margin:0.8rem 0;
    }
    .nav-link {
        font-size: 2.7rem;
        padding: 0rem;
    }
    }

/*End media queries*/